# Virtual Environment
venv/
env/
.venv/
ENV/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Flask
instance/
.webassets-cache
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Project
*.log
/static/images/temp/